@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,600&family=Prata&display=swap');

body {
margin: 0; 
font-family: 'Montserrat', sans-serif;   
}

.main-section {
padding:20px;
}

#image-container {
height: 600px;
background-image: url(https://images.squarespace-cdn.com/content/v1/5915c70e59cc6830f44a9d74/1665060331324-BDUYETAC37CBL7DVZP2M/AFR_NAM_SOS_SAND_01_18_SRC_2K.jpg?format=2500w);
background-position: center;
background-size: 100%;
padding: 0;
}


h1 {
    font-family: 'Prata', serif;
    font-size: 64px;
    font-weight: 400;
}

h3 {
    font-family: 'Prata', serif;
    font-size: 24px;
    font-weight: 400;
    margin-top: 0;
}

h1,h3 {
    margin-bottom: 0;
}

a {
    font-weight: 600;
    font-style: italic;
    color: black;
}

h6 {

padding: 22px;
margin-bottom: 0px;
margin-top: 56px;
color: rgb(255, 255, 255);
border-radius: 6px;
background: linear-gradient(45deg, #986522, transparent);
}

ul {
list-style-type: none;
padding-top: 6px;
padding-bottom: 6px;
padding-left: 22px;
border-bottom: 1px;
border-color:#dfdfdf;
}

footer {
background-color: rgb(0, 0, 0);
color: rgb(255, 255, 255);
padding: 16px;
text-align: center;
}

footer:hover {
font-size: large;    
}

.fine {
color: white;
text-decoration: none;
}

.lista {
text-decoration: none;
}

.lista:hover {
font-size: large;    
}